#bg-video {
    position: fixed;
    z-index: -1;
    max-width: initial;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

@media (max-width: 768px) {
    #bg-video {
        transform: translateX(calc((100% - 100vw) / 2));
    }
}